.CardContainer {
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(150deg, rgb(228, 176, 176), transparent, rgb(230, 230, 47)); */
  /* background: linear-gradient(to bottom right, rgb(221, 221, 193), rgb(139, 133, 10)); */
}
.CardButtons {
  display: flex;
  justify-content: center;
  gap: 0px;
}
.CardContent {
  display: flex;
  justify-content: center;
  gap: 0px;
  align-items: center;
  flex-direction: column;
}
.ContentBody {
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#content_h2 {
  font-size: 50px;
  flex-basis: 100%;
  color: rgb(141, 95, 35);
  text-shadow: 1px 1px rgb(245, 245, 25);
  font-weight: 200;
  background: linear-gradient(to right, rgba(177, 158, 95, 0.87), rgba(43, 37, 16, 0.3));
}

#content_h3 {
  font-size: 30px;
}

.CardButtons > * {
  flex: 1;
  flex-basis: 66%;
}
#ReserveButton {
  background: rgb(128, 96, 54);
  color: rgb(243, 242, 242);
  flex: 1;
  flex-basis: 67%;
  margin: 0;
  border-radius: 0px;
}
#ViewButton {
  background: rgb(216, 162, 82);
  color: rgb(250, 250, 250);
  flex: 1;
  flex-basis: 67%;
  margin: 0;
  border-radius: 0px;
}
#FavButton {
  color: rgb(24, 24, 19);
  flex-shrink: 2;
  height: 100%;
  margin: 0;
}

#FavButton:hover {
  background: red;
}

#ReserveButton:hover {
  background: rgb(75, 70, 40);
}

#ViewButton:hover {
  background: rgb(146, 132, 51);
}
