.FooterContainer {
  border-top: 1px rgb(68, 43, 10) solid;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 25px;
  color: rgb(231, 201, 28);
  text-shadow: 1px 1px rgb(12, 12, 12);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(51, 34, 21, 0.8);
  /* background: linear-gradient(to top, rgba(41, 20, 4, 0.3), rgba(31, 17, 2, 0.705)); */
  align-content: space-around;
}

ul {
  list-style-type: none;
  color: rgb(249, 249, 252);
  text-shadow: 1px 1px black;
  padding: 0;
}

ul li {
  font-size: 25px;
}

.Sites {
  flex: 1;
}
.Company {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Contact {
  flex: 1;
}

h2 {
  margin: 0;
  padding: 0;
}
