.MainHeader {
  display: flex;
  background-size: cover;
  align-items: flex-start;
  justify-content: center;
  /* background-image: url(../../../assets/zzz.png); */
  /* background-image: linear-gradient(to bottom, rgb(236, 236, 184), rgb(124, 194, 124)); */
}
.MainHeader > * {
  /* border: red 2px solid; */
  /* flex-grow: 1;
  font-size: 45px;
  color: rgb(187, 124, 8);
  font-weight: 200;
  text-shadow: 0.5px 2px black;
  cursor: pointer; */
}

#MenuOptions {
  display: flex;
  flex-grow: 1;
  font-size: 60px;
  color: rgb(187, 124, 8);
  font-weight: 200;
  text-shadow: 0.5px 2px black;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
}

#MenuOptions > * {
  color: rgb(218, 93, 35);
}

#LogoHolder {
  text-align: left;
  flex-grow: 0;
  align-self: center;
  justify-self: flex-start;
  flex-shrink: 0;
  width: 300px;
}

.mySwiper {
  width: 50%;
}
