.MainHeader {
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  border-bottom: 1px rgb(68, 43, 10) solid;
  background-color: rgba(51, 34, 21, 0.8);
  /* background: linear-gradient(to right, rgba(228, 227, 217, 0.9), rgba(223, 188, 148, 0.4)); */
  /* background: linear-gradient(to right, rgba(3, 3, 3, 0.9), rgb(15, 15, 14)); */
  /* background: radial-gradient(farthest-side at 10% 55%, rgba(236, 236, 184, 0.1), rgb(219, 217, 97)); */
  /* background-image: url(../../../assets/zzz.png); */
  /* background-image: linear-gradient(to bottom, rgb(236, 236, 184), rgb(124, 194, 124)); */
}
.MainHeader > * {
  /* border: red 2px solid; */
  /* flex-grow: 1;
  font-size: 45px;
  color: rgb(187, 124, 8);
  font-weight: 200;
  text-shadow: 0.5px 2px black;
  cursor: pointer; */
}

#MenuOptions {
  display: flex;
  flex-grow: 1;
  font-size: 50px;
  color: rgb(187, 124, 8);
  font-weight: 200;
  text-shadow: 0.5px 2px black;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
}

#MenuOptions > * {
  color: rgb(231, 201, 28);
  text-shadow: 1px 1px rgb(12, 12, 12);
}

#LogoHolder {
  text-align: left;
  flex-grow: 0;
  align-self: center;
  justify-self: flex-start;
  flex-shrink: 0;
  width: 300px;
}

.mySwiper {
  width: 50%;
}
