.lightbox {
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
}

.box > * {
}
.gallery {
  flex-grow: 1;
  text-align: center;
  justify-self: center;
}
@media only screen and (min-height: 1000px) {
  .lightbox {
    top: 33%;
    bottom: 33%;
    left: 10%;
    right: 10%;
  }

  .box {
    width: 70%;
    height: 40%;
  }
}
